# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
tcs_daemon
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Temporary commit assets
.commit_msg
.should_run

# OS metadata
.DS_Store
Thumbs.db
